body {
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  max-width: 800px;
}

h1 {
  font-size: 1.25em;
  margin: 0.5em 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

label {
  display: block;
}

input[type="text"]{
  font-size: 1em;
}

input[type="text"].input-long {
  min-width: 60%;
}

textarea {
  font-size: 1em;
  min-height: 60px;
  min-width: 80%;
}

.info {
  font-size: 0.9em;
  color: #505050;
}

#status {
  display: none;
  padding: 0.5em;
  background-color: hsl(200, 75%, 85%);
}
