body {
  box-sizing: border-box;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  max-width: 800px;
}

h1 {
  font-size: 1.25em;
  margin: 0.5em 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

fieldset.compact {
  gap: 0.2em;
}

label {
  display: block;
}

input[type="text"]{
  font-size: 1em;
}

input[type="text"].input-long {
  min-width: 60%;
}

textarea {
  font-size: 1em;
  min-height: 100px;
  min-width: 99%;
}

button {
  width: fit-content;
  padding: 0.5em 4em;
  background-color: steelblue;
  color: white;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: lightsteelblue;
  pointer-events: none;
}

.info {
  font-size: 0.9em;
  color: #505050;
}

.highlight {
  display: inline-block;
  background-color: hsl(60, 80%, 50%);
  padding: 0 0.3em;
}