body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.25em;
  margin: 0.5em 0;
}

#content {
  width: 100%;
  height: 90%;
  overflow: auto;
  word-break: break-all;
}

.block-ads {
  background-color: hsl(200, 60%, 90%);
}

.block-ads h2 {
  font-size: 1em;
  margin: 0.5em 0;
  padding: 0.5em;
  background-color: hsl(200, 90%, 80%);
}

.block-ads h3 {
  font-size: 1em;
  margin: 0.25em 0;
  padding: 0.5em;
  font-weight: bold;
  background-color: hsl(200, 75%, 85%);
}

.block-ads .slot {
  margin-bottom: 0.5em;
}

.block-ads.anonymous {
  background-color: hsl(0, 60%, 90%) !important;
}

.block-ads.anonymous h2 {
  background-color: hsl(0, 90%, 80%) !important;
}

.block-ads.anonymous h3 {
  background-color: hsl(0, 75%, 85%);
}

.block-ads.multiple-ads h3 {
  margin-top: 0.5em;
}

.block-ads.unfill, .slot.unfill {
  background-color: hsl(39, 76%, 94%);
}

.block-ads.unfill h2 {
  background-color: hsl(39, 90%, 80%);
}

.slot.unfill h3 {
  background-color: hsl(39, 83%, 87%);
}

.block-ads .slot a {
  color: inherit;
  text-decoration: underline;
}

.shortened {
  cursor: pointer;
}

.hide-gdpr-consent .gdpr {
  display: none;
}

.hide-ppid .ppid {
  display: none;
}

.hide-global-targetings .global-targetings {
  display: none;
}